packages:
  yum:
    freetype-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: v_star_universe.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: v_star_universe/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
