      <!-- Footer -->
      <footer>
        <ul class="list-inline d-table w-100 mb-0">
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-indigo btn-block rounded-0 g-py-20" href="#!"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item d-table-cell g-width-1x">
            <a class="btn btn-lg u-btn-teal btn-block rounded-0 g-py-20" href="#!"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </footer>
      <!-- End Footer -->