{% load static %}

    <!-- JS Global Compulsory -->
    <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "assets/vendor/jquery-migrate/jquery-migrate.min.js" %}"></script>
    <script src="{% static "assets/vendor/popper.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/bootstrap.min.js" %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static "assets/vendor/appear.js" %}"></script>
    <script src="{% static "assets/vendor/dzsparallaxer/dzsparallaxer.js" %}"></script>
    <script src="{% static "assets/vendor/dzsparallaxer/dzsscroller/scroller.js" %}"></script>
    <script src="{% static "assets/vendor/dzsparallaxer/advancedscroller/plugin.js" %}"></script>
    <script src="{% static "assets/vendor/fancybox/jquery.fancybox.js" %}"></script>
    <script src="{% static "assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js" %}"></script>
    <script src="{% static "assets/vendor/slick-carousel/slick/slick.js" %}"></script>
    <script src="{% static "assets/vendor/custombox/custombox.min.js" %}"></script>

    <!-- JS Unify -->
    <script src="{% static "assets/js/hs.core.js" %}"></script>
    <script src="{% static "assets/js/components/hs.header.js" %}"></script>
    <script src="{% static "assets/js/helpers/hs.hamburgers.js" %}"></script>
    <script src="{% static "assets/js/components/hs.scroll-nav.js" %}"></script>
    <script src="{% static "assets/js/components/hs.onscroll-animation.js" %}"></script>
    <script src="{% static "assets/js/components/hs.tabs.js" %}"></script>
    <script src="{% static "assets/js/components/hs.cubeportfolio.js" %}"></script>
    <script src="{% static "assets/js/components/hs.popup.js" %}"></script>
    <script src="{% static "assets/js/components/hs.carousel.js" %}"></script>
    <script src="{% static "assets/js/components/hs.go-to.js" %}"></script>
    <script src="{% static "assets/js/components/hs.modal-window.js" %}"></script>

     <!-- JS Customization -->
    <script src="{% static "assets/js/custom.js" %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox-media', {
          helpers: {
            media: {},
            overlay: {
              css: {
                'background': 'rgba(255, 255, 255, .8)'
              }
            }
          }
        });
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

    <script >
      $(document).on('ready', function () {
        // initialization of popups
        $.HSCore.components.HSModalWindow.init('[data-modal-target]');
      });
    </script>

