{% load static %}

      <section class="text-center g-py-80">
        <div class="container text-center g-max-width-750 g-font-size-16 g-mb-65">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-primary">Our clients</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Who work with <strong>us</strong></h2>
          </div>

          <p class="mb-0">간단한 구독으로 다양한 K-item들을 베트남에서 가장 먼저 받아보세요.</p>
        </div>
          <div class="js-carousel g-mb-60"
               data-autoplay="true"
               data-infinite="true"
               data-slides-show="6"
               data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 5
                 }
               }, {
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 4
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 3
                 }
               }, {
                 "breakpoint": 576,
                 "settings": {
                   "slidesToShow": 2
                 }
               }]'>
            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img1.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img2.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img3.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img4.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img5.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img6.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img7.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img8.png" %}" alt="Image Description">
            </div>

            <div class="js-slide g-brd-around g-brd-gray-light-v1--hover g-transition-0_2 g-mx-10 g-my-1">
              <img class="img-fluid g-max-width-170--md mx-auto" src="{% static "assets/img-temp/200x150/img9.png" %}" alt="Image Description">
            </div>
          </div>

        </div>
      </section>
      <!-- End Clients -->