{% load static %}

      <!-- Section Content -->
      <section id="howtouse" class="g-bg-primary g-py-90">
        <div class="container text-center g-max-width-750 g-font-size-16 g-mb-65">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-color-white g-mb-15">How to use</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 g-color-white mb-0">How to be member of our <strong>Universe</strong></h2>
          </div>

          <p class="g-color-white mb-0">간단한 구독으로 다양한 K-item들을 베트남에서 가장 먼저 받아보세요.</p>
        </div>

        <div class="container">
          <!-- Carousel -->
          <div class="js-carousel"
                   data-infinite="true"
                   data-arrows-classes="u-arrow-v1 g-pos-abs g-top-35x g-width-45 g-height-45 g-color-primary g-bg-white g-rounded-50x g-transition-0_2 g-transition--ease-in"
                   data-arrow-left-classes="fa fa-chevron-left g-left-0"
                   data-arrow-right-classes="fa fa-chevron-right g-right-0">
            <div class="js-slide">
              <div class="container text-center g-max-width-750">
                <div class="g-mb-20">
                  <img class="d-inline-block" src="{% static "assets/img-temp/mockups/mockup1.png" %}" alt="Image description">
                </div>
                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-0"><br/>Step 1</h4>

                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-15">Subscribe on homepage</h4>
                <p class="g-color-white-opacity-0_8 g-mb-0">We gonna let you know if there are items for you.</p>
              </div>
            </div>

            <div class="js-slide">
              <div class="container text-center g-max-width-750">
                <div class="g-mb-20">
                  <img class="d-inline-block" src="{% static "assets/img-temp/mockups/mockup2.png" %}" alt="Image description">
                </div>
                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-0"><br/>Step 2</h4>
                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-15">Check your items on E-mail & Instagram Direct</h4>
                <p class="g-color-white-opacity-0_8 g-mb-0">당신에게 맞는 아이템이 있으면 메일과 인스타 다이렉트로 알려드릴게요. 확인하세요.</p>
              </div>
            </div>

            <div class="js-slide">
              <div class="container text-center g-max-width-750">
                <div class="g-mb-20">
                  <img class="d-inline-block" src="{% static "assets/img-temp/mockups/mockup3.png" %}" alt="Image description">
                </div>
                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-0"><br/>Step 3</h4>

                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-15">Get your item or ticket and enjoy it</h4>
                <p class="g-color-white-opacity-0_8 g-mb-0">상품은 배송 이용권은 모바일 발송할까?.</p>
              </div>
            </div>
            <div class="js-slide">
              <div class="container text-center g-max-width-750">
                <div class="g-mb-20">
                  <img class="d-inline-block" src="{% static "assets/img-temp/mockups/mockup4.png" %}" alt="Image description">
                </div>
                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-0"><br/>Step 4</h4>

                <h4 class="h4 text-uppercase g-font-weight-700 g-color-white g-mb-15">Post your review on instagram</h4>
                <p class="g-color-white-opacity-0_8 g-mb-0">솔직한 이용 후기를 개인 계정에 올려주세요.</p>
              </div>
            </div>
          </div>
          <!-- End Carousel -->
        </div>
      </section>
      <!-- End Section Content -->