{% load static %}

      <!-- Section Content -->
      <section id="items" class="g-pt-90 g-py-120">
        <div class="container text-center g-max-width-750 g-font-size-16 g-mb-30">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-primary">Items</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Be the <strong>First User</strong> for <strong>K-Items</strong></h2>
          </div>
        </div>

        <div class="container px-0">
          <div class="row no-gutters">
            <div class="col-sm-12 col-lg-3 g-bg-primary">
              <!-- Article -->
              <article class="u-block-hover">
                <figure class="g-overflow-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{% static "assets/img/items/beauty.png" %}" alt="K-Beauty">
                </figure>

                <div class="g-color-white g-py-40 g-px-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">K-Beauty</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">K-Beauty like Cosmetics and Diet etc </p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-12 col-lg-3 g-bg-darkpurple">
              <!-- Article -->
              <article class="u-block-hover">
                <figure class="g-overflow-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{% static "assets/img/items/fashion.png" %}" alt="Image description">
                </figure>

                <div class="g-color-white g-py-40 g-px-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Ulzzang Fashion</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">K-pop star's fashion and ulzzang style.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-12 col-lg-3 g-bg-pink">
              <!-- Article -->
              <article class="u-block-hover">
                <figure class="g-overflow-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{% static "assets/img/items/store.png" %}" alt="Image description">
                </figure>

                <div class="g-color-white g-py-40 g-px-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Stores</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">Chicken, Tokpokki in local</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-12 col-lg-3 g-bg-purple">
              <!-- Article -->
              <article class="u-block-hover">
                <figure class="g-overflow-hidden">
                  <img class="img-fluid u-block-hover__main--zoom-v1" src="{% static "assets/img/items/food_etc.png" %}" alt="Image description">
                </figure>

                <div class="g-color-white g-py-40 g-px-30">
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Food & Etc</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">IT items etc.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->
      