{% load static %}

      <!-- Section Content -->
      <section id="items" class="g-pt-90 g-py-120">
        <div class="container text-center g-max-width-750 g-font-size-16 g-mb-30">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-primary">Our Strength</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Only for <strong>Vietnam</strong>, with <strong>Korea</strong></h2>
          </div>
        </div>

        <div class="container px-0">
          <div class="row no-gutters">
            <div class="col-sm-12 col-lg-4 g-bg-primary">
              <!-- Article -->
              <article class="u-block-hover">
                <div class="g-color-white g-py-40 g-px-30">
                    <span class="u-icon-v1 g-font-size-36 g-color-white g-mb-30"><i class="fa fa-search"></i></span>

                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">Find K-item what exactly you want</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">We analyze your style and personality, We recommand you exact brands for you</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-12 col-lg-4 g-bg-darkpurple">
              <!-- Article -->
              <article class="u-block-hover">

                <div class="g-color-white g-py-40 g-px-30">
                    <span class="u-icon-v1 g-font-size-36 g-color-white g-mb-30"><i class="fa fa-mobile"></i></span>
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">EASY TO USE</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">Only Subscribe Now. We recommand items to you</p>
                </div>
              </article>
              <!-- End Article -->
            </div>

            <div class="col-sm-12 col-lg-4 g-bg-pink">
              <!-- Article -->
              <article class="u-block-hover">

                <div class="g-color-white g-py-40 g-px-30">
                    <span class="u-icon-v1 g-font-size-36 g-color-white g-mb-30"><i class="fa fa-user"></i></span>
                  <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-color-white g-mb-25">NO LANGUAGE BARRIER</h3>
                  <p class="g-color-white-opacity-0_8 mb-0">You just use Vietnamese. We handle Korean translation.</p>
                </div>
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Section Content -->
      