{% load static %}
      <section id="Parallax" class="dzsparallaxer auto-init height-is-based-on-content use-loading"
               data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after" style="height: 100%; background-image: url({% static "assets/img/main_slider/game.jpg" %})"></div>
        <!-- End Parallax Image -->

        <div class="text-center d-flex g-height-100vh">
          <div class="container align-self-center g-max-width-750 g-font-size-16">
            <div class="text-uppercase g-line-height-1_3 g-mb-20">
              <h1 class="g-line-height-1_3 g-color-white mb-0">Be the <strong>first</strong> VSTAR <br/>for <strong>K-items</strong></h1>

            </div>
              <div class="text-uppercase g-line-height-1_3 g-mb-20">

              <a href="#!" class="btn btn-md u-btn-primary g-font-weight-700 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mx-10 g-mx-0--md g-mr-30--md">
                  <span class="float-right g-font-size-13">
                    Register
                    <span class="d-block g-font-size-10 g-font-weight-400 g-opacity-0_6">Register with Instagram</span>
                  </span>
                  <i class="fa fa-instagram float-left g-font-size-26 g-mr-15 g-mt-5"></i>
                </a>
                  <a href="#!" class="btn btn-md u-btn-darkpurple g-font-weight-700 text-uppercase text-left g-rounded-10 g-py-10 g-mb-15 g-mx-10 g-mx-0--md">
                  <span class="float-right g-font-size-13">
                    Register
                    <span class="d-block g-font-size-10 g-font-weight-400 g-opacity-0_6">Register with Facebook</span>
                  </span>
                  <i class="fa fa-facebook-f float-left g-font-size-26 g-mr-15 g-mt-5"></i>
                </a>
              </div>
          </div>
        </div>
      </section>
