{% load static %}
      <section id="Parallax" class="dzsparallaxer auto-init height-is-based-on-content use-loading"
               data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_5--after" style="height: 100%; background-image: url({% static "assets/img-temp/1400x700/img2.jpg" %})"></div>
        <!-- End Parallax Image -->

        <div class="text-center d-flex g-height-100vh">
          <div class="container align-self-center g-max-width-750 g-font-size-16">
            <div class="text-uppercase g-line-height-1_3 g-mb-20">
              <h1 class="g-line-height-1_3 g-color-white mb-0">Be the <strong>first</strong> VSTAR <br/>for <strong>K-items</strong></h1>
            </div>
            <div class="text-uppercase g-line-height-1_3 g-mb-20">
              <button class="btn h-200 u-btn-primary text-uppercase g-font-weight-600 g-font-size-18 g-rounded-10 g-px-25" type="button" href="#register-modal" data-modal-target="#register-modal" data-modal-effect="scale">Register Now</button>
          </div>
          </div>
        </div>
      </section>
