{% load static %}

      <!-- Section Content -->
      <section id="whatsNew" class="g-py-90">
        <div class="container text-center g-max-width-750 g-mb-45">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-primary">Reviews</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Reviews from <strong>V-star Universe</strong></h2>
          </div>

          <p class="mb-0">V-star Universe 유저들의 생생한 리뷰.</p>

        </div>

        <div class="container">
          <!-- Carousel -->
          <div class="js-carousel g-pb-20"
               data-infinite="true"
               data-slides-show="4"
               data-slides-scroll="4"
               data-pagi-classes="text-center u-carousel-indicators-v1 g-absolute-centered--x g-bottom-0 g-width-auto"
               data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 3,
                   "slidesToScroll": 3
                 }
               }, {
                 "breakpoint": 992,
                 "settings": {
                   "slidesToShow": 2,
                   "slidesToScroll": 2
                 }
               }, {
                 "breakpoint": 576,
                 "settings": {
                   "slidesToShow": 1,
                   "slidesToScroll": 1
                 }
               }]'>
            <div class="js-slide text-center g-px-15">
              <a class="cbp-lightbox d-inline-block g-pos-rel g-parent" href="{% static "assets/img-temp/270x481/img1.png" %}"
                 data-title="Custom Title 1"
                 data-cbp-lightbox="whatsNewCarousel">
                <img src="{% static "assets/img-temp/270x481/img1.png" %}" alt="Image description">
                <div class="cbp-caption-activeWrap g-pos-abs g-top-0 g-left-0 w-100 h-100 opacity-0 g-opacity-1--parent-hover g-bg-primary-opacity-0_6 g-transition-0_2 g-transition--ease-in">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title g-font-size-50">+</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="js-slide text-center g-px-15">
              <a class="cbp-lightbox d-inline-block g-pos-rel g-parent" href="{% static "assets/img-temp/270x481/img2.png" %}"
                 data-title="Custom Title 2"
                 data-cbp-lightbox="whatsNewCarousel">
                <img src="{% static "assets/img-temp/270x481/img2.png" %}" alt="Image description">

                <div class="cbp-caption-activeWrap g-pos-abs g-top-0 g-left-0 w-100 h-100 opacity-0 g-opacity-1--parent-hover g-bg-primary-opacity-0_6 g-transition-0_2 g-transition--ease-in">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title g-font-size-50">+</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="js-slide text-center g-px-15">
              <a class="cbp-lightbox d-inline-block g-pos-rel g-parent" href="{% static "assets/img-temp/270x481/img3.png" %}"
                 data-title="Custom Title 3"
                 data-cbp-lightbox="whatsNewCarousel">
                <img src="{% static "assets/img-temp/270x481/img3.png" %}" alt="Image description">

                <div class="cbp-caption-activeWrap g-pos-abs g-top-0 g-left-0 w-100 h-100 opacity-0 g-opacity-1--parent-hover g-bg-primary-opacity-0_6 g-transition-0_2 g-transition--ease-in">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title g-font-size-50">+</div>
                    </div>

                  </div>
                </div>
              </a>
            </div>

          <!-- End Carousel -->
        </div>
      </section>
      <!-- End Section Content -->
