{% load static %}

      <!-- Section Content -->
      <section id="strength" class="g-theme-bg-gray-light-v1 g-py-90">
        <div class="container text-center g-max-width-750 g-font-size-16 g-mb-65">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-primary">Our Strength</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">No.1 <strong>Korea Items</strong> for <strong>V-stars</strong></h2>
          </div>

          <p class="mb-0">한국아이템을 베트남 인플루엔서들에게 가져다 주는 유일한 플랫폼.</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img-temp/mockups/mockup1.png" %}" alt="Image description"
                   data-animation="slideInLeft">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                <span class="u-icon-v1 g-font-size-36 g-color-primary g-mb-30"><i class="fa fa-search"></i></span></h4>
                  <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Find <strong>item</strong> what exactly <strong>you want</strong></h2>
                </div>

                <p class="g-font-size-16 g-mb-65">진짜 니가 원하는 아이템이 있다.</p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 order-md-1 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img-temp/mockups/mockup2.png" %}" alt="Image description"
                   data-animation="slideInRight">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                <span class="u-icon-v1 g-font-size-36 g-color-primary g-mb-30"><i class="fa fa-comment-o"></i></span></h4>
                  <h2 class="g-line-height-1_3 g-font-size-36 mb-0"><strong>No </strong>Language Barrier</h2>
                </div>

                <p class="g-font-size-16 g-mb-65">언어의 장벽이 없다.</p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img-temp/mockups/mockup3.png" %}" alt="Image description"
                   data-animation="slideInLeft">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                <span class="u-icon-v1 g-font-size-36 g-color-primary g-mb-30"><i class="fa fa-connectdevelop"></i></span></h4>
                  <h2 class="g-line-height-1_3 g-font-size-36 mb-0">본인에게 맞는 브랜드 추천해드림쓰</h2>
                </div>

                <p class="g-font-size-16 g-mb-65">진짜 니가 원하는 아이템이 있다.</p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 order-md-1 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img-temp/mockups/mockup4.png" %}" alt="Image description"
                   data-animation="slideInRight">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                <span class="u-icon-v1 g-font-size-36 g-color-primary g-mb-30"><i class="fa fa-money"></i></span></h4>
                  <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Make<strong>Money </strong></h2>
                </div>

                <p class="g-font-size-16 g-mb-65">언어의 장벽이 없다.</p>

              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- End Section Content -->
