{% load static %}

      <!-- Section Content -->
      <section id="strength" class="g-theme-bg-gray-light-v1 g-py-90">
        <div class="container text-center g-max-width-750 g-font-size-16 g-mb-65">
          <div class="text-uppercase g-line-height-1_3 g-mb-20">
            <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-primary">Items</h4>
            <h2 class="g-line-height-1_3 g-font-size-36 mb-0">Be the <strong>First User</strong> for <strong>K-Items</strong></h2>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-md-5 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img/item_sample/beauty.jpg" %}" alt="Image description"
                   data-animation="slideInLeft">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                  <h2 class="g-line-height-1_3 g-font-weight-700 g-font-size-28 mb-0">K-Beauty</h2>
                </div>

                <p class="g-font-size-24 g-mb-65">We analyze your style and personality, We recommand you exact brands for you</p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 order-md-1 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img/item_sample/ulzzangstyle.jpg" %}" alt="Image description"
                   data-animation="slideInRight">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                  <h2 class="g-line-height-1_3 g-font-weight-700 g-font-size-28 mb-0 text-lg-right">Ulzzang Style</h2>
                </div>

                <p class="g-font-size-24 g-mb-65">Only Subscribe Now. We recommand items to you</p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img/item_sample/culture.jpeg" %}" alt="Image description"
                   data-animation="slideInLeft">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                  <h2 class="g-line-height-1_3 g-font-weight-700 g-font-size-28 mb-0">Culture</h2>
                </div>
                <p class="g-font-size-24 g-mb-65">You just use Vietnamese. We handle Korean translation.</p>
              </div>
            </div>
          </div>
                      <div class="row">
            <div class="col-md-5 order-md-1 text-center g-overflow-hidden g-mb-50">
              <img class="img-fluid" src="{% static "assets/img/item_sample/andmore.jpg" %}" alt="Image description"
                   data-animation="slideInRight">
            </div>
            <div class="col-md-7 d-flex text-center text-md-left">
              <div class="align-self-center">
                <div class="text-uppercase g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-20 g-mb-0"
                   data-animation="fadeIn"
                   data-animation-duration="1500">
                  <h2 class="g-line-height-1_3 g-font-weight-700 g-font-size-28 mb-0 text-lg-right">And More</h2>
                </div>

                <p class="g-font-size-24 g-mb-65">Only Subscribe Now. We recommand items to you</p>

              </div>
            </div>
          </div>
        </div>



      </section>
      <!-- End Section Content -->
