{% load static %}

 <section id="vision" class="g-pt-90 g-bg-primary ">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 d-flex g-mb-30 g-mb-0--lg">
              <div class="align-self-center">
                <div class="text-uppercase g-line-height-1_3 g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-white">
                    Our Vision</h4>
                  <h2 class="g-line-height-1_3 g-font-size-36 mb-0 g-color-white">We make <strong>Universe</strong> for <strong>V-stars</strong></h2>
                </div>

                <p class="g-font-size-16 g-mb-65 g-color-white">잠재적인 베트남의 많은 인플루엔서 스타들이 다양한 한국 기업과의 협업을 통해, V-Star 로 성장할 수 있는 기회를 제공합니다.</p>


              </div>
            </div>

            <div class="col-lg-5 text-center g-overflow-hidden">
              <img class="img-fluid" src="{% static "assets/img-temp/mockups/mockup11.png" %}" alt="Image description"
                   data-animation="slideInUp">
            </div>
          </div>
        </div>
      </section>