{% load static %}

 <section id="vision" class="g-pt-90 g-py-90 g-bg-primary ">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 d-flex g-mb-30 g-mb-0--lg">
              <div class="align-self-center">
                <div class="text-uppercase g-line-height-1_3 g-mb-20">
                  <h4 class="g-font-weight-700 g-font-size-16 g-mb-15 g-color-white">
                    Our Vision</h4>
                  <h2 class="g-line-height-1_3 g-font-size-36 mb-0 g-color-white">We make <strong>Universe</strong> for <strong>V-stars</strong></h2>
                </div>

                <p class="g-font-size-16 g-mb-20 g-color-white">

                    By Co-working between Vietnam influencers and Korea company,<br/>
                    We make opportunity for being v-star and make our v-star universe

                </p>
              </div>
            </div>

            <div class="col-lg-5 text-center g-overflow-hidden">
              <img class="img-fluid" src="{% static "assets/img-temp/mockups/mockup5.png" %}" alt="Image description"
                   data-animation="slideInUp">
            </div>
          </div>
        </div>
      </section>